.text-small{
    font-size: .8em;
}
/*  FF7706  1f9425  */
a{
    color: #1f9425;
}
a:hover{
    color: #f7360f;
}

h1 {
	font-size: 3em;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
h2{
    color: #F7BD09;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
@media screen and (min-width: 320px) {
    h2{
        font-size:1.2em;
    }
}
@media screen and (min-width: 768px) {
    h2{
        font-size:1.6em;
    }
}
@media screen and (min-width: 992px) {
    h2{
        font-size:1.9em;
    }
}
@media screen and (min-width: 1200px) {
    h2{
        font-size:2.2em;
    }
}

h3 {
	padding-top:15px;
    color: #F5B834;
    font-weight: 600;
}

h4 {
	padding-top:15px;
    color: #6E541D;
    font-weight: 600;
}
h5 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.8em;
}

p {
	text-align:justify;	
}
table.supple{
    display: table;
    width: 90%;
    font-size: 11px;
    border-collapse: collapse;
    border: 0;

}
table.supple tr{
    border-bottom: 1px solid #999;
}
table.supple td{
    text-align: left;
    font-weight: normal;
    vertical-align: top;
    padding: 3px;
}
.pad5{
    padding: 30px 40px 10px 10px;
}
footer {
    background-color: #272015;
    border-top: 3px solid #F5B834;
    height: auto;
    padding: 10px;
	margin-top:20px;
}

footer a{
    color: rgb(221, 185, 172);
}

footer ul {
    margin:0;
	padding:0;
	margin-left:10px;
		
}

footer p {
	font-size:16px;
	padding-left:10px;
	text-decoration:underline;	
}
footer small {
	color: #888;
}

footer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #888;
    margin: 1em 0;
    padding: 0;
}

footer ul
{
    list-style-type: none;
}

.site{
    height: 100%;
    min-height: 100%;
}

.site-inner{
    vertical-align: middle;
}
.jumbotron {
  background-color: #fff;
}
.navbar{
    border-radius: 0;
    border: 0;
}
.space40{
    margin-top: 40px;
}
.margin-20{
    margin: 20px;
    background-color: #3be6c4;
}

#cartbill td{
    background-color: #ffffff;
}
#cartbill th{
    background-color: #dedede;
}

div#panel,
div#profile-panel,
div#cart-panel,
div#social-panel,
div#methods-panel,
div#extra-panel,
div#changepwd-panel,
div#billing-panel,
div#shipping-panel{
    padding-left: 0;
    padding-right: 0;
    border-color:#1E6B48;
    border-radius: 0;

}

.panel-primary .panel-heading{
    background-color: #1E6B48;
    border-radius: 0;
}

.panel-primary .panel-body{
    background-color: #F3EECF;
}

.checkbox input[type="checkbox"]{
    height: 34px;
    display: block;
}

.soc-btn{
    width: 190px;
    margin: 10px;
}

.product{
    border: 0;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 0 rgba(0, 0, 0, .05);
}
.product-title{
    font-size: 1.2em;
    font-weight: bold;
}
.product-price{
    font-size: 1.2em;
    font-weight: 600;
    color: #080808;
}
.product-price a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}
.product-price-label{
    font-size: 1em;
    font-weight: normal;
    color: #080808;
    text-decoration: none;
}
.product-price-label a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}
.products-header-top{
    margin-top: 0;
}

div#prod_content{
    width: 100%;
    height: 100%;
    min-height: 300px;
    padding: 8px;
    border: solid 1px #c0c0c0;
    border-top: 0;
}
.thumbnail{
    border: 1px solid #F3EECF;
    border-radius: 0;
    padding: 0;
}
.thumbnail .panel-footer{
    background-color: #F3EECF;
    border-top: 0;
}

div#extra-panel textarea{
    height: 60px;
}

.control-group.error p.help-block{
    color: Red;
}

.panel-transparent {
    background: none;
    border: solid 1px #f2f2f2;
}

.panel-transparent .panel-heading{
    background: rgba(255, 255, 255, 0.8)!important;
    border: solid 1px #f2f2f2;
    color: #cccccc;
}

.panel-transparent .panel-body{
    background: rgba(255, 255, 255, 0.8)!important;
    border: solid 1px #f2f2f2;
    color: #f2f2f2;
}

.panel-transparent .panel-body input{
    background: rgba(255, 255, 255, 0.8)!important;
    border: solid 1px #f2f2f2;
    color: #f2f2f2;
}

.panel-transparent .panel-body select{
    background: rgba(255, 255, 255, 0.8)!important;
    border: solid 1px #f2f2f2;
    color: #f2f2f2;
}

#shipping_info,
#payment_info{
    padding: 15px;
    height: 220px;
}

table.order{
    display: table;
    width: 80%;
    max-width: 800px;

}

table.order td{
    padding: 5px;
}
table.order td.top{
    padding: 5px;
    vertical-align: top;
}

table.order td.header{
    background-color: #666666;
    color: #ffffff;
    font-weight: bold;
}

div#curr-wrapper{ width: 180px}
div#curr-wrapper label{
    float:left;
    width: 80px;
    display: block;
}
div#curr-wrapper select {
    float: left;
    width: 80px;
    display: block;
	margin-bottom:30px;
	margin-top:-6px;
}

ul.messages li.label{
    display: block;
    padding: 4px;
    width: 50%;
}

@font-face {
  font-family: "DancingScript";
  src: local("☺"),
    url("fonts/Dancing Script OT.woff") format("woff"),
    url("fonts/Dancing Script OT.otf") format("opentype"),
    url('fonts/Dancing Script.ttf')  format('truetype') /* Safari, Android, iOS */
}


.navbar-default {
	background-color:#1E6B48;
    color: #FFFFFF;
    font-weight: 600;
    border-bottom: 3px solid #F5B834;
}

.navbar-default .navbar-nav > li > a {
	color:#FFFFFF;
    font-weight: 600;
    height: 50px;
}
.navbar-default .navbar-nav > li > a:hover {
	color:#F5B834;
    font-weight: 600;
}

#brand{
	color:#FFFFFF;
    font-weight: 500;
    font-family: "DancingScript", Georgia, serif;
    font-size: 2em;
}
a#brand:hover{
	color:#F5B834;
}


.page-header {
	margin-top:0;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color:#2D2D2D;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color:#F5B834;
	color:#2D2D2D;
}

.align-topics {
	margin-top:3%;	
	padding-bottom:17%;
}


.btn-danger{
    background-color: #f7360f;
    border-color: #F5B834;
}

.btn-danger:hover{
    background-color: #2d8f41;
    border-color: #F5B834;
}

.btn-primary{
    background-color: #1E6B48;
    border-color: #1E6B48;
}

.btn-primary:hover{
    background-color: #2d8f41;
    border-color: #F5B834;
}

#signinButton{
    background-color: #8f2519;
    border-color: #8f120a;
}
#fbb{
    background-color: #28448f;
    border-color: #123b8f;
}

.btnpanel{
    height: 50px;
    border-radius: 2px;
    background-color: #F3EECF;
    text-align: center;
    padding: 8px;
}




.centerDiv {
    width: 100%;
    height:500px;
    margin: 0 auto;
}

.progresshead{
    padding: 8px;
    font-size: 1em;
    color: #F5B834;
    font-weight: 600;
    text-align: left;
}
.progress1{
    float: left;
    margin: 0;
    border: 0;
    background-color: #F3EECF;
    border-bottom: 4px solid #1f9425;
    border-left: 2px solid #ffffff;
    text-align: center;
    padding: 8px;
}
.progress2{
    float: left;
    margin: 0;
    border: 0;
    background-color: #FAFAFA;
    border-bottom: 4px solid #888888;
    border-left: 2px solid #ffffff;
    color: #888888;
    text-align: center;
    padding: 8px;
}

@media (min-width: 320px) {
  .cap {
    font-size: 0.5em;
  }
}
@media (min-width: 768px) {
  .cap {
    font-size: 0.6em;
  }
}
@media (min-width: 992px) {
  .cap {
    font-size: 0.7em;
  }
}
@media (min-width: 1200px) {
  .cap {
    font-size: 1em;
  }
}

.cap-white{
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.8em;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    color: #ffffff;
}

.cap-black{
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 3em;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    color: #272015;
}

.carousel-caption{
    padding-bottom: 0;
    text-align: left;
    right: 0;
    left: 70px;
}

.btc-price{
    font-size: 1.4em;
    color: red;
    font-weight: 600;
}