{% extends "vitashop/base.html" %}
{% load url from future %}
{% load currency %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block body %}

    <div class="row">
        <div class="progresshead">{% trans "Progress of your checkout" %}</div>
        <div class="col-md-2 progress1">
            <a class="btn1" href="{% url 'products' %}">{% trans "Shopping" %}&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </a>
        </div>
        <div class="col-md-2 progress1"><a class="btn1" href="{% url 'cart' %}">{% trans "Cart" %}&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </a>
        </div>
        <div class="col-md-2 progress1"><a class="btn1" href="{% url 'checkout_selection' %}">{% trans "Delivery Address" %}&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </a>
        </div>
        <div class="col-md-2 progress1"><a class="btn1" href="{% url 'checkout_methods' %}">{% trans "Shipping and Billing" %}&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </a>
        </div>
        <div class="col-md-2 progress2"><span class="btn1">{% trans "Summary" %}&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </span>
        </div>
        <div class="col-md-1 progress2"><span class="btn1">{% trans "Pay" %}&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </span>
        </div>
    </div>

    <p>&nbsp;</p>

     <div class="row">
        <div class="btn-group">
          <h3 class="products-header-top">{% trans "Shipping and payment methods" %}:</h3>
        </div>
     </div>

    <div class="row">

          <form method="POST" class="form-horizontal">
              {% csrf_token %}

                <div id="methods-panel" class="panel panel-primary col-md-5">
                    <div class="panel-heading">
                        <h5 class="panel-title">{% trans "Shipping Methods" %}</h5>
                    </div>
                    <div class="panel-body">
                        {{ shipping_form|crispy }}
                    </div>
                    <div id="shipping_info" class="jumbotron">


                    </div>
                </div>

                <div id="methods-panel" class="panel panel-primary col-md-5 col-md-offset-1">
                    <div class="panel-heading">
                        <h5 class="panel-title">{% trans "Payment Methods" %}</h5>
                    </div>
                    <div class="panel-body">
                        {{ billing_form|crispy }}
                    </div>
                    <div id="payment_info" class="jumbotron">


                    </div>
                </div>


                <div class="clearfix"></div>

                <p>&nbsp;</p>

                <p>&nbsp;</p>
                <div class="row">
                      <div class="btnpanel col-md-11 text-center">
                          <a href="{% url 'checkout_selection' %}" class="btn btn-default pull-left">{% trans "Back to Delivery Address" %}</a>
                          <button type="submit" class="btn btn-danger btn-md">{% trans "Continue to Payment" %}</button>
                      </div>
                </div>

        </form>

        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </div>

    <div id="cposta" style="display: none;">
        <span class="">
            <b>{% trans "Price" %}:</b>&nbsp;{% currency_tag shipping_price currency %}<br/><br/>
            <b>{% trans "Period od delivery" %}:</b><br/>
            {% trans "Delivery usually takes 1-2 working days." %}<br/><br/>

            <b>{% trans "Delivery" %}: </b><br/>
            {% trans "An email with number of package will be sent in day of expedition." %}<br/>
            <br/>
            {% trans "If messenger does not reach you then package will be stored 7 days in the post office. " %}
        </span>
    </div>
    <div id="personal" style="display: none;">
        {% comment %}        <label for="sel_place" class="control-label">Select place to pick up products </label>
        <div class="controls">
            <select class="form-control" name="sel_place" id="sel_place">
                <option value="1">Praha</option>
                <option value="2">Plzeň</option>
            </select>
        </div>{% endcomment %}
        <span>
            <b>{% trans "Price" %}:</b>{% currency_tag 0 currency %}<br/><br/>
            <b>{% trans "Period od delivery" %}:</b><br/>
            {% trans "Personal pick up is available only in Plzeň. You will receive instructions where to pick up products." %}
            <br/>
            <b>{% trans "We work on" %}: </b><br/>
            {% trans "Posibility to pick up products in main cities." %}<br/>
        </span>
    </div>

    <div id="bitcoin-payment" style="display: none;">
        <span class="">{% trans "The bitcoin address will be shown to pay this order on next page." %}</span><br/>
        <img src="{{ MEDIA_URL }}img/bitcoin_accepted.png" class="img-responsive" alt="Pay with Bitcoins" style="margin:10px 0;max-width: 160px border:0" />
    </div>
    <div id="paypal" style="display: none;">
        <span class="">{% trans "You will be redirected to Paypal payment gateway to pay this order." %}</span><br/>
        <img src="{{ MEDIA_URL }}img/Paypal.jpg" class="img-responsive" alt="Pay with Bitcoins" style="margin:10px 0;max-width: 140px; border:0" />
    </div>

{% endblock %}



{% block scripts %}
<script language="JavaScript">
$(function(){
    sel = $( "#id_shipping_method" );
    sel.on('change', function (e) {
        var optionSelected = $( "option:selected", this );
        var valueSelected = this.value;

        //el = $( valueSelected );
        el = document.getElementById(valueSelected)
        $( "#shipping_info" ).html(el.innerHTML);
    });
    //init
    selected = "cposta";
    sel.val(selected);
    el = document.getElementById(selected);
    $( "#shipping_info" ).html(el.innerHTML);
});

$(function(){
    sel = $( "#id_payment_method" );
    sel.on('change', function (e) {
        var optionSelected = $( "option:selected", this );
        var valueSelected = this.value;

        //el = $( valueSelected );
        el = document.getElementById(valueSelected)
        $( "#payment_info" ).html(el.innerHTML);
    });
    //init
    selected = "paypal";
    sel.val(selected);
    el = document.getElementById(selected);
    $( "#payment_info" ).html(el.innerHTML);
});
</script>
{% endblock %}