{% extends "vitashop/base.html" %}
{% load url from future %}
{% load i18n %}
{% load currency %}
{% block body %}

<div class="row">
         <div class="col-md-3"><a class="btn btn-info" href="{% url 'cart' %}">Cart</a></div>
         <div class="col-md-3"><a class="btn btn-info" href="{% url 'checkout_selection' %}">Delivery address</a></div>
         <div class="col-md-3"><a class="btn btn-info" href="{% url 'checkout_methods' %}">Shipping and billing</a></div>
         <div class="col-md-3"><a class="btn btn-info" href="{% url 'checkout_overview' %}">Order summary</a></div>
     </div>

    <p>&nbsp;</p>

     <div class="row">
        <div class="btn-group">
          <h3 class="products-header-top">{% trans "Order summary" %}:</h3>
        </div>

        <div id="curr-wrapper" class="btn-group pull-right">
                <div class="float-left">
                    <label for="id_currency">Currency: </label>
                    <label for="id_currency">{{ currency }}</label>
                </div>
        </div>
     </div>

    <div class="row">
        <table border="1" class="order">

        {% if is_billing_address_same %}
            <tr>
                <td colspan="2" class="top">{% trans "Customer information" %}</td>
                <td colspan="2">
                    <b>{% trans "Shipping and billing address" %}</b><br/>
                    {{ shipping_address_name }}<br/>
                    {{ shipping_address_street }}<br/>
                    {{ shipping_address_city }}<br/>
                    {{ shipping_address_zip }}<br/>
                    {{ shipping_address_country }}<br/>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" class="top">{% trans "Customer information" %}</td>
                <td colspan="2">
                    <b>{% trans "Shipping address" %}</b><br/>
                    {{ shipping_address_name }}<br/>
                    {{ shipping_address_street }}<br/>
                    {{ shipping_address_city }}<br/>
                    {{ shipping_address_zip }}<br/>
                    {{ shipping_address_country }}<br/>
                    <br/>
                    <b>{% trans "Billing address" %}</b><br/>
                    {{ billing_address_name }}<br/>
                    {{ billing_address_street }}<br/>
                    {{ billing_address_city }}<br/>
                    {{ billing_address_zip }}<br/>
                    {{ billing_address_country }}<br/>
                    <br/>
                </td>
            </tr>

        {% endif %}
            <tr>
                <td colspan="2">{% trans "Shipping" %}</td>
                <td colspan="2">
                    {{ shipping_backend }}<br/>
                </td>
            </tr>
            <tr>
                <td colspan="2">{% trans "Payment" %}</td>
                <td colspan="2">
                    {{ payment_backend }}<br/>
                </td>
            </tr>

            <tr>
                <td class="header">{% trans "Product name" %}</td>
                <td class="header">{% trans "Unit price" %}</td>
                <td class="header">{% trans "Quantity" %}</td>
                <td class="header text-center">{% trans "Price" %}</td>
            </tr>

            {% for item in order.items.all %}
              <tr>
                <td>{{item.product_name}}</td>
                <td class="text-right">{{ item.unit_price|currency:currency }}</td>
                <td>{{item.quantity}}</td>
                <td class="text-right">{{item.line_subtotal|currency:currency }}</td>
              </tr>

              {% if item.extraorderitempricefield_set.all %}
                  {% for item_extra in item.extraorderitempricefield_set.all %}
                    <tr>
                      <td colspan="2">&nbsp;</td>
                      <td>{{ item_extra.label }}</td>
                      <td>{{ item_extra.value }}</td>
                    </tr>
                  {% endfor %}

                  <tr>
                      <td colspan="2">&nbsp;</td>
                      <td>{% trans "Line Total" %}:</td>
                      <td class="text-right">{{item.line_total|currency:currency }}</td>
                  </tr>
                {% endif %}

            {% endfor %}


          <tfoot>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td>{% trans "Order Subtotal" %}</td>
                <td class="text-right">{{order.order_subtotal|currency:currency }}</td>
            </tr>
            {% for extra_price_field in order.extraorderpricefield_set.all %}
              <tr>
                <td colspan="2">&nbsp;</td>
                <td>{{ extra_price_field.label }}</td>
                <td class="text-right">{{ extra_price_field.value|currency:currency }}</td>
              </tr>
            {% endfor %}
            <tr>
                <td colspan="2">&nbsp;</td>
                <td><b>{% trans "Order Total" %}</b></td>
                <td class="text-right"><b>{{order.order_total|currency:currency}}</b></td>
            </tr>
          </tfoot>
        </table>

    </div>

    <div class="space40"></div>
    <div class="clearfix"></div>

    <p>&nbsp;</p>
    <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
              <a href="{% url 'checkout_methods' %}" class="btn btn-default">Back to shipping and billing</a>
              <form action="" method="post">
                {% csrf_token %}
                 <input type="submit" class="btn btn-warning btn-lg" value="Place the order" />
              </form>
          </div>
    </div>

    <div class="space40"></div>


{% endblock %}