{% extends "vitashop/base.html" %}
{% load url from future %}
{% load i18n %}
{% load currency %}

{% block body %}
  <h1>{% trans "Thank you for your order!" %}</h1>
  <p>{% trans "Your order has been placed" %}</p>

    <div class="clearfix"></div>

    {% if payment_backend == 'paypal' %}
        <form action="" method="post">
            {% csrf_token %}
            <p>{% trans "Please continue to pay your order with " %}<mark>{% currency_tag order.order_total currency %}</mark> at <input type="submit" class="btn btn-warning btn-lg" value="PayPal" /></p>
        </form>
        <p>
            <a href="{% url 'shop_welcome' %}">{% trans "Back to the main page" %}</a>
        </p>
    {% else %}
        <div>
            <h4>{% trans "Payment instructions" %}</h4>
            <p>
                {% trans "Price is " %}{% currency_tag amount_fiat currency %}<br/>
                <span class="btc-price">{% trans "Please pay " %}{{ amount_btc }}BTC </span><br/>
                {% trans "Bitcoin exchange rate: " %}1BTC = {% currency_tag rate_btc currency %} <span style="font-size: small"> {% trans "from" %} <a href="http://www.coindesk.com/price/" target="_blank">CoinDesk</a>.</span><br/>
                <b>{% trans "to wallet address:" %} {{ wallet_address }}</b>
            </p>
            <img src="{{ qrcode }}" title="Wallet address" />
            {% trans "Your payment has to be verified..." %}
            <p>

			</p>
              <h4>{% trans "Thank you for your order" %}</h4>
          </div>
    {% endif %}

{% endblock %}
