{% load staticfiles %}
{% load currency %}
{% load shopytags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <title>Vitamineral.info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<style>

</style>
  </head>
  <body>
      <header>
          <nav class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand" id="brand" href="http://vitamineral.info/" target="_blank">Vitamineral .info</a>
              </div>
            </div>
          </nav>
      </header>

    <div class="container">
        <br/>
VITAMINERAL.INFO<br/>
================<br/>
<br/>
Welcome to affiliate program.<br/>

    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3>{% trans "Information" %}</h3>
                    <ul>
                        <li><a href="http://vitamineral.info/faq/" target="_blank">{% trans "FAQ" %}</a></li>
                        <li><a href="http://vitamineral.info/contact/" target="_blank">{% trans "Contact" %}</a></li>
                        <li><a href="http://vitamineral.info/information/#affiliate#" target="_blank">{% trans "Affiliate" %}</a></li>
                        <li><a href="http://vitamineral.info/information/#shipping#" target="_blank">{% trans "Shipping" %}</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>{% trans "Media" %}</h3>
                    <ul>
                        <li><a href="http://www.zdraviok.cz/zdravi/62-VICE-O-ZDRAVI/214-Zdravotni-problemy" target="_blank">{% trans "Blog" %}</a></li>
                        <li><a href="https://www.facebook.com/pages/Zdraví-OK-sro/381736631841888" target="_blank">{% trans "Facebook" %}</a></li>
                        <li><a href="http://receptyprozdravi.cz/video/58-jime-spravne-vitaminy" target="_blank">{% trans "Video" %}</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>{% trans "Other" %}</h3>
                    <ul>
                        <li><a href="http://vitamineral.info/bitcoins/" target="_blank">{% trans "Bitcoins" %}</a></li>
                        <li><a href="http://vitamineral.info/information/#vitamins#" target="_blank">{% trans "Vitamins" %}</a></li>
                        <li><a href="http://vitamineral.info/information/#minerals#" target="_blank">{% trans "Minerals" %}</a></li>
                        <li><a href="http://vitamineral.info/information/#calmag#" target="_blank">{% trans "CalMag" %}</a></li>
                    </ul>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <h3>{% trans "Payment" %}</h3>
                    <br/>
                    <img src="http://vitamineral.info/media/img/bitcoin_accepted.png" class="img-responsive" alt="Pay with Bitcoins" style="margin:10px 0;" />
                    <img src="http://vitamineral.info/media/img/paypal.png" class="img-responsive" alt="Pay with PayPal" style="margin:10px 0;" />
                </div>
            </div>
            <hr style="color: red">
            <div class="col-sm-8">
            <small>&copy; 2015 vitamineral.info {% trans "All Rights Reserved." %}</small>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-2">

            </div>
        </div>
    </footer>

{% block scripts %}{% endblock %}


  </body>
</html>
