{% load staticfiles %}
{% load currency %}
{% load shopytags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <title>Vitamineral.info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<style>
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
a:hover { color: #f7360f; }
a:hover, a:visited, a:link, a:active {text-decoration: none;}
h3 {
    font-size: 24px;
    padding-top: 15px;
    color: #F5B834;
    font-weight: 600;
}
</style>
  </head>
  <body>

    <table style="border: 0;margin: 0; padding: 0; width: 100%; min-width: 640px">
        <tr>
            <td style="padding: 5px;margin: 0;background-color: #1E6B48;color: #FFFFFF;font-weight: 600;height:32px;border: 0; border-bottom: 3px solid #F5B834;">
                <div style="float: left;">
                    <a style="text-decoration:none; color: #FFFFFF; font-weight: 500; font-family: Georgia, serif;font-size: 1.8em;" id="brand" href="http://vitamineral.info/" target="_blank">Vitamineral .info</a>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div style="padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">
                    <p>&nbsp;</p>
                    {% block body %}
                    {% endblock %}

                </div>
            </td>
        </tr>

        <tr>
            <td><p>&nbsp;</p></td>
        </tr>
        <tr>
            <td>
                <div style="background-color: #272015;border-top: 3px solid #F5B834;height: auto; padding: 10px; margin-top: 20px;">
                    <div style="padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">
                        <div style="color: white; width: 60%;">
                            <small>&copy; 2015 <span style="color: #ffffff;">vitamineral.info</span>&nbsp; {% trans "All Rights Reserved." %}</small>
                        </div>
                        <div style="float: left;width: 20%;">
                            &nbsp;
                        </div>
                        <div style="float: left;width: 20%;">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>



 </body>
</html>
