<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% block title %}{% endblock title %}</title>
    </head>

    <body style="background:#fff url(http://vitamineral.info/mail/bg.jpg) repeat-x bottom; padding:0 15px; margin:0; line-height:130%; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#61401b;">
		<div style="background:url(http://vitamineral.info/mail/mountains.png) no-repeat 90% 100%; padding-bottom:40px;">
			<div style="width:670px; margin:0 auto; padding:0;">
				<div style="padding:20px 0">
					<a title="vitamineral.info" href="https://vitamineral.info?utm_source=server&utm_medium=email&utm_campaign=server-email&utm_content=odkaz_logo"><img src="http://vitamineral.info/img/logo.png" alt="Vitamineral.info" style="border:none;" /></a>
				</div>
				<div style="background:#fff; border:1px solid #eae2d9; border-bottom:none; border-radius:10px; padding:20px; padding-bottom:0;">
        
					{% block content %} {% endblock content %}
          
					<div style="border-top:1px solid #eae2d9; padding:0; padding-top:5px; text-align:center; padding-right:158px;">
						<table cellpadding="0" cellspacing="0" style="width:100%" width="100%">
							<tr>
								<td style="width:178px">
									<img src="http://vitamineral.info/mail/ent0.png" style="display:block;" alt="" />
								</td>
								<td>
									<a href="{% block buttonlink %}{% endblock buttonlink %}" title="vitamineral.info" target="_blank" style="background: #f2b91b;
									   background: -moz-linear-gradient(top,  #f2b91b 0%, #f5c52c 50%, #f2b81a 50%, #eda10f 100%);
									   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2b91b), color-stop(50%,#f5c52c), color-stop(50%,#f2b81a), color-stop(100%,#eda10f));
									   background: -webkit-linear-gradient(top,  #f2b91b 0%,#f5c52c 50%,#f2b81a 50%,#eda10f 100%);
									   background: -o-linear-gradient(top,  #f2b91b 0%,#f5c52c 50%,#f2b81a 50%,#eda10f 100%);
									   background: -ms-linear-gradient(top,  #f2b91b 0%,#f5c52c 50%,#f2b81a 50%,#eda10f 100%);
									   background: linear-gradient(to bottom,  #f2b91b 0%,#f5c52c 50%,#f2b81a 50%,#eda10f 100%);
									   box-shadow:  0 1px 2px 0 rgba(0, 0, 0, .35);
									   display:inline-block;
									   border-radius:10px;
									   border:none;
									   padding:10px 12px;
									   color:#362f2d;
									   font-size:18px;
									   cursor:pointer;
									   text-decoration:none;">{% block buttontext %}{% endblock buttontext %}</a>
								<td>
							</tr>
						</table>
					</div>
				</div>

				<div style="font-size:12px; color:#fff;"> <!-- footer -->
					<table cellpadding="0" cellspacing="0" style="width:100%" width="100%">
						<tr>
							<td style="width:178px;">
								<img src="http://vitamineral.info/mail/ent.png" style="display:block;" alt="" />
							</td>
							<td>
								<div style="background:url(http://vitamineral.info/mail/bubble-corner.png) no-repeat 15px 100%; padding-bottom:10px; padding-top:20px; margin-bottom:50px;">

								</div>
								<div style="padding-left:20px; background:#699817;">
									<p style="margin:0.3em 0;">&copy; 2015 vitamineral.info <span style="margin:0 0.5em;">|</span> <a href="https://vitamineral.info" title="vitamineral.info" style="color:#ffc629">vitamineral.info</a></p>
								</div>
							<td>
						</tr>
					</table>
				</div>
			</div>
		</div>
    </body>
</html>