{% load staticfiles %}
{% load currency %}
{% load shopytags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <title>Vitamineral.info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<style>
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
a:hover { color: #f7360f; }
a:hover, a:visited, a:link, a:active {text-decoration: none;}
h3 {
    font-size: 24px;
    padding-top: 15px;
    color: #F5B834;
    font-weight: 600;
}
</style>
  </head>
  <body>
      <header>
          <div style="background-color: #1E6B48;color: #FFFFFF;font-weight: 600; border-radius: 0; border: 0; border-bottom: 3px solid #F5B834;">
            <div style="padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;">
              <div style="float: left;">
                <a style="color: #FFFFFF;font-weight: 500;font-family: 'DancingScript', Georgia, serif;font-size: 2em;" id="brand" href="http://vitamineral.info/" target="_blank">Vitamineral .info</a>
              </div>
            </div>
          </div>
      </header>

    <div style="padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">

        {% block body %}
        {% endblock %}

    </div>

      <div style="clear: both;"></div>

    <div style="background-color: #272015;border-top: 3px solid #F5B834;height: auto; padding: 10px; margin-top: 20px;">
        <div style="padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">
            <hr style="color: gray">
            <div style="float: left;width: 60%;">
            <small>&copy; 2015 vitamineral.info {% trans "All Rights Reserved." %}</small>
            </div>
            <div style="float: left;width: 20%;">

            </div>
            <div style="float: left;width: 20%;">

            </div>
        </div>
    </div>
 </body>
</html>
