<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% block title %}{% endblock title %}</title>
    </head>
  <body>

    <div style="height:50px;margin:0 0;background-color:#1E6B48;color: #FFFFFF;font-weight: 600;border-bottom: 3px solid #F5B834;">
        <a style="border:0" id="brand" href="http://vitamineral.info" target="_blank">
            <img src="http://vitamineral.info/media/img/logo.png" alt="Vitamineral.info" />
        </a>
    </div>

    <div style="width: 100%;min-height:500px; margin: 0 auto;">
        <div style="padding:20px">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <div style="background-color: #272015;border-top: 3px solid #F5B834;height: auto;padding: 10px;margin-top:20px;">
        <small style="color:#FFFFFF; font-size: 10px; font-family: Verdana, Arial">@ 2015 Vitamineral.info. All Rights Reserved</small>
    </div>

  </body>
</html>
