{% extends "mails/mail_layout.html" %}{% load i18n %}

{% block title %}
    Vitamineral.info Newsletter
{% endblock title %}

{% block content %}
	<div style="margin:0; padding:0; padding-bottom:20px; padding-top:20px;">
    {{ body }}
  </div>
  <div style="font-size:12px; color:#666; margin-top:20px; padding-top:10px; border-top:1px solid #eae2d9;">
   	{% trans "newsletter_unsubscribe_text" %} <a href="{{ unsubscribe }}" style="color:#333; text-decoration:underline">{% trans "newsletter_unsubscribe_link" %}</a>.
  </div>
{% endblock content %}

{% block buttonlink %}
	http://vitamineral.info?utm_source=server&utm_medium=email&utm_campaign=server-email&utm_content=odkaz_hrat-langevo
{% endblock buttonlink %}

{% block buttontext %}
	{% trans "play_langevo" %}
{% endblock buttontext %}