{% extends "mails/mail_layout.html" %}{% load i18n %}

{% block title %}
    Vitamineral.info Affiliate Report
{% endblock title %}

{% block content %}
    <h1 style="padding:0; padding-bottom:20px; border-bottom:1px solid #eae2d9; margin:0; font-size:18px; color:#000; font-weight:normal;">Report</h1>
    <p>
    	{% trans "report_greetings" %} {{ duser.first_name }},
    </p>
    <p>
        {% trans "report_intro" %}
    </p>


    <p>
      {% trans "report_outro" %}
    </p>
    
    <div style="font-size:12px; color:#666; margin-top:20px; padding-top:10px; border-top:1px solid #eae2d9;">
    	{% trans "report_unsubscribe_text" %} <a href="{{ unsubscribe }}" style="color:#333; text-decoration:underline">{% trans "report_unsubscribe_link" %}</a>.
    </div>
{% endblock content %}

{% block buttonlink %}
	https://play.langevo.com?utm_source=server&utm_medium=email&utm_campaign=server-email&utm_content=odkaz_hrat-langevo
{% endblock buttonlink %}

{% block buttontext %}
	{% trans "play_langevo" %}
{% endblock buttontext %}