{% load staticfiles %}
{% load shop_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vitamineral.info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

      <!-- Latest compiled and minified CSS //maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" media="screen">
    {% block head %}
    {% endblock %}
  </head>
  <body>
      <header>
          <nav class="navbar navbar-default" role="navigation">
            <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                <a class="navbar-brand" id="brand" href="/">Vitamineral .info</a>
              </div>
                <div class="collapse navbar-collapse" id="collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="{% url 'products' %}">Products <span class="sr-only">(current)</span></a></li>
                      <li><a href="{% url 'information' %}">Information</a></li>
                      <li><a href="{% url 'exchange' %}">Exchange</a></li>
                      {% if cart_obj.total_quantity > 0 %}
                        <li>{% cart %}</li>
                      {% endif %}
                      {% if user.is_authenticated %}
                          <li><a href="{% url 'profile' %}">{{ user.email }}</a></li>
                          <li><a href="{% url 'logout' %}">Log Out</a></li>
                      {% else %}
                                <li><a href="{% url 'login' %}">Login</a></li>
                      {% endif %}
                    </ul>
                </div>

            </div>
          </nav>
      </header>

    <div class="container">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <strong>{% if message.tags == 'danger' %}Error!{% else %}{{ message.tags }}!{% endif %}</strong> {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block body %}
        {% endblock %}
    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3>Information</h3>
                    <ul>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <li><a href="{% url 'affiliate' %}#affiliate">Affiliate</a></li>
                        <li><a href="{% url 'information' %}#shipping">Shipping</a></li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>Media</h3>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Youtube</a></li>
                        <li><a href="#">Success stories</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>Other</h3>
                    <ul>
                        <li><a href="{% url 'bitcoin' %}">Bitcoin</a></li>

                    </ul>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <h3>Payment</h3>
                    <br/>
                    <img src="{{ MEDIA_URL }}img/bitcoin_accepted.png" class="img-responsive" alt="Pay with Bitcoins" style="margin:10px 0;" />
                    <img src="{{ MEDIA_URL }}img/paypal.png" class="img-responsive" alt="Pay with PayPal" style="margin:10px 0;" />
                </div>
            </div>
            <hr style="color: red">
            <div class="col-sm-8">
            <small>@ 2015 vitamineral.info. All Rights Reserved</small>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-2">

            </div>
        </div>
    </footer>

    <script src="{{ STATIC_URL }}js/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/3.3.2/bootstrap.min.js"></script>

<script language="JavaScript">
$(function(){
  function stripTrailingSlash(str) {
      if(str.indexOf('/products/')>-1)
        return '/vitashop/products/';

      if(str.substr(-1) == '/')
          return str.substr(0, str.length - 1);

      return str;
  }

  var url = window.location.pathname;
  var activePage = stripTrailingSlash(url);

  $('.nav li a').each(function(){
    var currentPage = stripTrailingSlash($(this).attr('href'));

    if (activePage == currentPage) {
      $(this).parent().addClass('active');
    }
  });
});
</script>
      
{% block scripts %}{% endblock %}


  </body>
</html>
