{% extends "vitashop/base.html" %}
{% load url from future %}
{% block body %}

<div class="btn-group">


  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Product detail</h3>
    </div>
    <div class="panel-body">
      {{object.get_name}}<br />
        {{object.slug}}<br />
        <p>
            <strong>price: ${{object.unit_price}}</strong>
        </p>
    </div>
  </div>
<img src="{{ MEDIA_URL }}img/{{object.image}}" alt="beer" />
</div>

  <hr />

  <form method="post" action="{% url 'cart' %}">{% csrf_token %}
  <input type="hidden" name="add_item_id" value="{{object.pk}}">
  <input type="hidden" name="add_item_quantity" value="1">
  <input type="submit" class="btn btn-info" value="Add to cart">
  </form>
{% endblock %}