{% extends "vitashop/base.html" %}
{% load i18n %}
{% load currency %}
{% load url from future %}

{% block body %}

     <div class="row">
        <div class="btn-group">
          <h3 class="products-header-top">{% trans "Shopping cart" %}:</h3>
        </div>
        <div id="curr-wrapper" class="btn-group pull-right">
            <form action="{% url 'currency' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="cart">
                <div class="float-left">
                    <label for="id_currency">{% trans "Currency" %}:</label>
                    <select id="id_currency" name="sel_currency" class="form-control" onchange="this.form.submit()">
                        {% for c in currency_set %}
                            {% if c == currency %}
                                <option value="{{ c }}" selected>{{ c }}</option>
                            {% else %}
                                <option value="{{ c }}">{{ c }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
     </div>

    <div class="row">&nbsp;</div>


  {% if cart_items %}<br  />

    <div class="clearfix"></div>

    <div class="row">
        <div id="cart-panel" class="panel panel-primary col-md-8 col-md-offset-2">

          <div class="panel-heading text-right">
              <form action="{% url 'cart_delete' %}" method="post">
                {% csrf_token %}<span class="panel-title">
                <input type="submit" value="{% trans "Empty Shopping Cart" %}" class="btn btn-default" /></span>
              </form>
          </div>
          <div class="panel-body">

                <form method="post" action="{% url 'cart_update' %}">
                {% csrf_token %}
                {{ formset.management_form }}
                <table id="cartbill" border="1" class="table table-striped table-hover">
                  <thead>
                    <tr>
                    <th>{% trans "Product name" %}</th>
                    <th>{% trans "Unit price" %}</th>
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Price" %}</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for form in formset %}
                      {% with form.quantity as field %}
                        <tr>
                          <td>{{ form.instance.product.get_name }}</td>
                          <td>{% currency_tag form.instance.product.get_price currency %}</td>
                          <td>
                              {{ form.id }}
                              {{ field.errors }}
                              {{ field }}</td>
                          <td>{% currency_tag form.instance.line_subtotal currency %}</td>
                        </tr>
                        {% for extra_price_field in form.instance.extra_price_fields %}
                          <tr>
                            <td colspan="2">&nbsp;</td>
                            <td>{{ extra_price_field.0 }}</td>
                            <td>{{ extra_price_field.1 }}</td>
                          </tr>
                        {% endfor %}
                          {% if form.instance.extra_price_fields %}
                            <tr>
                                <td colspan="2">&nbsp;</td>
                                <td>{% trans "Line Total" %}:</td>
                                <td>{% currency_tag form.instance.line_total currency %}</td>
                            </tr>
                          {% endif %}
                      {% endwith %}
                    {% endfor %}
                  </tbody>

                  <tfoot>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td>{% trans "Cart Subtotal" %}</td>
                        <td>{% currency_tag cart.total_price currency %}</td>
                    </tr>
                    {% for extra_price_field in cart.extra_price_fields %}
                      <tr>
                        <td colspan="2">&nbsp;</td>
                        <td>{{ extra_price_field.0 }}</td>
                        <td>{{ extra_price_field.1 }}</td>
                      </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td><b>{% trans "Cart Total" %}</b></td>
                        <td><b>{% currency_tag cart.total_price currency %}</b></td>
                    </tr>
                  </tfoot>
                </table>

                <div class="text-right">
                    <input type="submit" value="{% trans "Update Shopping Cart" %}" class="btn btn-primary" />
                </div>
                </form>
          </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="row">
          <div class="btnpanel col-md-12 text-center">
              <a href="{% url 'products' %}" class="btn btn-default pull-left">{% trans "Back to shopping" %} </a>
              <a href="{% url 'checkout_selection' %}" class="btn btn-danger btn-md">{% trans "Proceed to checkout" %}</a>
          </div>
    </div>

    <p>&nbsp;</p>

  {% else %}
      <div class="centerDiv">
          <p>
            {% trans "Shopping cart is empty" %}
          </p>
      </div>
  {% endif %}
{% endblock %}
