{% extends "vitashop/base.html" %}
{% load url from future %}
{% block body %}

  <h1>Bitcoin exchange rate:</h1>

    <p>
        Current time: {{ updated }}
    </p>

    <div class="bs-component">
      <table class="table table-striped table-hover" style="width: 440px">
        <thead>
          <tr>
            <th>#</th>
            <th>Dollar</th>
            <th>Euro</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1BTC</td>
            <td>${{ btc_dollar }}</td>
            <td>{{ btc_euro }}</td>
          </tr>
          <tr>
            <td colspan="3"><span style="font-size: small">Powered by <a href="http://www.coindesk.com/price/" target="_blank">CoinDesk</a>.</span></td>
          </tr>
        </tbody>
      </table>
    </div>

{% endblock %}