{% extends "vitashop/base.html" %}
{% load url from future %}
{% load i18n %}
{% block body %}

  <h3>Bitcoin exchange rate:</h3>
    <br />


    <div class="bs-component ">
        <div class="centerDiv">
          <table class="table table-striped table-hover" style="width: 440px">
            <thead>
              <tr>
                <th>#</th>
                <th>Dollar</th>
                <th>Euro</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1BTC</td>
                <td>${{ btc_dollar }}</td>
                <td>{{ btc_euro }}</td>
              </tr>
              <tr><br /><br />
                <td colspan="3">Current time: {{ updated }}&nbsp;<span style="font-size: small">Powered by <a href="http://www.coindesk.com/price/" target="_blank">CoinDesk</a>.</span></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <br/>

{% endblock %}