{% extends "vitashop/base.html" %}
{% load url from future %}
{% load i18n %}
{% block body %}

{% trans "calmag-lemon-desc1" %}
{% trans "calmag-lemon-desc2" %}
{% trans "calmag-lemon-desc3" %}

{% trans "vitamineral-komplex-desc1" %}
{% trans "vitamineral-komplex-desc2" %}
{% trans "vitamineral-komplex-desc3" %}

{% trans "calcium-gluconate-desc1" %}
{% trans "calcium-gluconate-desc2" %}
{% trans "calcium-gluconate-desc3" %}

{% trans "magnesium-desc1" %}
{% trans "magnesium-desc2" %}
{% trans "magnesium-desc3" %}

{% trans "calmag-original-520g-desc1" %}
{% trans "calmag-original-520g-desc2" %}
{% trans "calmag-original-520g-desc3" %}

{% trans "calmag-original-142g-desc1" %}
{% trans "calmag-original-142g-desc2" %}
{% trans "calmag-original-142g-desc3" %}

{% endblock %}