{% extends "vitashop/base.html" %}
{% load i18n %}
{% load currency %}
{% load url from future %}
{% block body %}

    <div class="row">
        <div class="btn-group">
          <h3 class="products-header-top">{% trans "Products" %}</h3>
        </div>

        <div id="curr-wrapper" class="btn-group pull-right">
            <form action="{% url 'currency' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="products">
                <div class="float-left">
                    <label for="id_currency">{% trans "Currency" %}:</label>
                    <select id="id_currency" name="sel_currency" class="form-control" onchange="this.form.submit()">
                        {% for c in currency_set %}
                            {% if c == currency %}
                                <option value="{{ c }}" selected>{{ c }}</option>
                            {% else %}
                                <option value="{{ c }}">{{ c }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>

    </div>


    <div class="centerDiv">
        <div class="row">

                {% for product in products %}
                <div class="product panel col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{% url 'product_detail' product.slug %}">
                            <div class="margin-20">
                                <img src="/media/img/{{ product.image }}" class="img-responsive"
                                     alt="{{ product.name }}" />
                            </div>


                            <div class="panel-footer text-center">
                                <span class="product-title">{{ product.name }}</span>
                                <div class="second">
                                    <span class="product-price-label">{% trans "Price" %}:</span>
                                    <span class="product-price">{% currency_tag product.unit_price currency %}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

        </div>
    </div>

{% endblock %}