{% extends "vitashop/base.html" %}
{% load i18n %}
{% load currency %}
{% load url from future %}
{% block body %}

    <div class="row">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Products <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            {% for prod in products %}
                <li><a href="{% url 'product_detail' prod.slug %}">{{ prod.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div id="curr-wrapper" class="btn-group pull-right">
            <form action="{% url 'currency' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="product_detail {{ product.slug }} ">
                <div class="float-left">
                    <label for="id_currency">Currency:</label>
                    <select id="id_currency" name="sel_currency" class="form-control" onchange="this.form.submit()">
                        {% for c in currency_set %}
                            {% if c == currency %}
                                <option value="{{ c }}" selected>{{ c }}</option>
                            {% else %}
                                <option value="{{ c }}">{{ c }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">

            <div class=" margin-20">
                <img src="/media/products/{{ product.image }}" class="img-responsive" alt="{{ product.name }}" />
            </div>

        </div>
        <div class="col-md-6 col-md-offset-1 col-sm-7 col-xs-12">
            <h2>{{ product.name }}</h2>
            <p>
                <span class="product-price-label">Price:</span>
                <span class="product-price">{{ product.unit_price|currency:currency }}</span>
            </p>
            <form method="post" action="{% url 'cart' %}">{% csrf_token %}
                <input type="hidden" name="add_item_id" value="{{product.pk}}">
                <input type="hidden" name="add_item_quantity" value="1">
                <input type="submit" class="btn btn-danger" value="Add to cart" role="button">
            </form>
            <p>    </p>

            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#info" data-toggle="tab"><span class="hidden-phone">Information</span></a></li>
                <li class=""><a href="#facts" data-toggle="tab"><span class="hidden-phone">Supplements</span></a></li>
                <li class=""><a href="#use" data-toggle="tab"><span class="hidden-phone">Usage</span></a></li>
                <li class=""><a href="#warnings" data-toggle="tab">Warnings</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="info">

                    <p>Simple Being Daily Personal Vitamin Packs are a pouch of health that can go with you anywhere and taken anytime. This daily vitamin pack can protect everything from your heart to your bones and even improve your mood! Here are a few things that a daily vitamin pack can do for you:</p>

                    <ul>
                    <li>Vitamin A&amp;D: Healthy Skin, Teeth &amp; Bones*</li>
                    <li>Vitamin B Complex: Energy &amp; Metabolism*</li>
                    <li>Lecithin: Brain &amp; Nerve Health*</li>
                    <li>Vitamin C: Immunity Boost*</li>
                    <li>Vitamin E: Heart &amp; Stress Support*</li>
                    <li>Mega-Mineral: Full Body Function*</li>
                    </ul>

                    30 Packets, 5 Pills per Packet

                </div>
                <div class="tab-pane" id="facts">

                  <div class="TableOuterDiv">
                    <div class="TableInnerDiv">
                    <table class="nutrition" style="width: 100%;" border="0" cellspacing="0" cellpadding="0" bgcolor="white">
                    <tbody>
                    <tr class="SupplementTableHeader even">
                    <td colspan="3" class="last">
                    <h4>Supplement Facts&nbsp;</h4>
                    <p>Serving Size: 1 Packet (6 Tablets/Capsules)<br>Serving per Container: 30</p>
                    </td>
                    </tr>
                    <tr class="odd">
                    <td class="titleRow titleCol1" bgcolor="white">&nbsp;</td>
                    <td class="titleRow titleCol2"><strong>Amount Per Serving</strong></td>
                    <td class="titleRow titleCol3 last"><strong>% Daily Value</strong></td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Vitamin A (as fish liver oil)</td>
                    <td class="Cell_AC0">10,000 IU</td>
                    <td class="Cell_AC00 last">200%</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Vitamin C (as ascorbic acid)</td>
                    <td class="Cell_AC0">1,000 mg</td>
                    <td class="Cell_AC00 last">1668%</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Vitamin D (67% fish liver/33% cholecalciferol)</td>
                    <td class="Cell_AC0">600 IU</td>
                    <td class="Cell_AC00 last">150%</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Vitamin E (d-alpha tocopherol)</td>
                    <td class="Cell_AC0">400 IU</td>
                    <td class="Cell_AC00 last">1333%</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Vitamin B-1 (as thiamine mononitrate)</td>
                    <td class="Cell_AC0">100 mg</td>
                    <td class="Cell_AC00 last">6666%</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Vitamin B-2 (as riboflavin)</td>
                    <td class="Cell_AC0">100 mg</td>
                    <td class="Cell_AC00 last">5883%</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Niacinimide</td>
                    <td class="Cell_AC0">100 mg</td>
                    <td class="Cell_AC00 last">500%</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Vitamin B-6 (as pyridoxine hydrochloride)</td>
                    <td class="Cell_AC0">100 mg</td>
                    <td class="Cell_AC00 last">5000%</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Folic Acid</td>
                    <td class="Cell_AC0">400 mg</td>
                    <td class="Cell_AC00 last">100%</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Vitamin B-12 (as cyancobalamin)</td>
                    <td class="Cell_AC0">100 mg</td>
                    <td class="Cell_AC00 last">1667%</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Biotin</td>
                    <td class="Cell_AC0">100 mg</td>
                    <td class="Cell_AC00 last">33%</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Pantothenic Acid (as calcium pantothenate)</td>
                    <td class="Cell_AC0">100 mg</td>
                    <td class="Cell_AC00 last">1000%</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Calcium (as carbonate)</td>
                    <td class="Cell_AC0">500 mg</td>
                    <td class="Cell_AC00 last">50%</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Iodine (from Kelp)</td>
                    <td class="Cell_AC0">75 mcg</td>
                    <td class="Cell_AC00 last">50%</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Magnesium (as oxide)</td>
                    <td class="Cell_AC0">250 mg</td>
                    <td class="Cell_AC00 last">63%</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Zinc (as amino acid chelate)</td>
                    <td class="Cell_AC0">11.25 mg</td>
                    <td class="Cell_AC00 last">75%</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Selenium (as amino acid chelate)</td>
                    <td class="Cell_AC0">50 mcg</td>
                    <td class="Cell_AC00 last">72%</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Copper (as amino acid chelate)</td>
                    <td class="Cell_AC0">1.5 mg</td>
                    <td class="Cell_AC00 last">75%</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Manganese (as citrate)</td>
                    <td class="Cell_AC0">1 mg</td>
                    <td class="Cell_AC00 last">50%</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Chromium (as amino acid chelate)</td>
                    <td class="Cell_AC0">100 mcg</td>
                    <td class="Cell_AC00 last">84%</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Molybdenum (as amino acid chelate)</td>
                    <td class="Cell_AC0">50 mcg</td>
                    <td class="Cell_AC00 last">67%</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Potassium (as potassium chloride)</td>
                    <td class="Cell_AC0">47.5 mg</td>
                    <td class="Cell_AC00 last">1%</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Chloride (as potassium chloride)</td>
                    <td class="Cell_AC0">44 mg</td>
                    <td class="Cell_AC00 last">1%</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Lecithin (as soya lecithin providing 61% phosphatides)</td>
                    <td class="Cell_AC0">1200 mg</td>
                    <td class="Cell_AC00 last">*</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Choline Bitartrate</td>
                    <td class="Cell_AC0">100 mg</td>
                    <td class="Cell_AC00 last">*</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Inositol (as inositol monophosphate)</td>
                    <td class="Cell_AC0">100 mg</td>
                    <td class="Cell_AC00 last">*</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Para-Aminobenzoic Acid</td>
                    <td class="Cell_AC0">100 mg</td>
                    <td class="Cell_AC00 last">*</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Bromelain (10:1/80 GDU)</td>
                    <td class="Cell_AC0">25 mg</td>
                    <td class="Cell_AC00 last">*</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Citrus Bioflavonoids</td>
                    <td class="Cell_AC0">525 mg</td>
                    <td class="Cell_AC00 last">*</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Rutin (Buckwheat)</td>
                    <td class="Cell_AC0">50 mg</td>
                    <td class="Cell_AC00 last">*</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Hesperidan Complex (from citrus)</td>
                    <td class="Cell_AC0">50 mg</td>
                    <td class="Cell_AC00 last">*</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Acerola Powder</td>
                    <td class="Cell_AC0">10 mg</td>
                    <td class="Cell_AC00 last">*</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Quercitin (as quercitin dihydrate)</td>
                    <td class="Cell_AC0">50 mg</td>
                    <td class="Cell_AC00 last">*</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">L-Glutamic Acid (as hydrochloride)</td>
                    <td class="Cell_AC0">50 mg</td>
                    <td class="Cell_AC00 last">*</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Boron (Citrate/aspatate/glycerate)</td>
                    <td class="Cell_AC0">1.5 mg</td>
                    <td class="Cell_AC00 last">*</td>
                    </tr>
                    <tr class="odd">
                    <td class="NutrientName0">Bentonite Clay (trace mineral complex)</td>
                    <td class="Cell_AC0">5 mg</td>
                    <td class="Cell_AC00 last">*</td>
                    </tr>
                    <tr class="even">
                    <td class="NutrientName0">Rose Hips</td>
                    <td class="Cell_AC0">5 mg</td>
                    <td class="Cell_AC00 last">*</td>
                    </tr>
                    <tr class="odd">
                    <td colspan="3" align="center" bgcolor="white" class="last">* % Daily Value not established</td>
                    </tr>
                    <tr class="ingredientsRow last even">
                    <td colspan="3" bgcolor="white" class="last">
                    <small><strong>Ingredients:</strong>&nbsp;Methocel, stearic acid, cellulose, dicalcium phosphate, magnesium stearate, silicon dioxide, HPMC, triacetin, carnauba wax, Microcrystalline cellulose, croscarmellose sodium, sheliac, talc, gelatin, vegetable glycerin, soybean oil, mixedtocopherols, purified water, soy lecithin, calcium carbonate, hydroxypropyl methycellulose, watercress powder and parsley leaf powder.</small>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                  </div>

                </div>

                <div class="tab-pane" id="use">
                  <p>As a dietary supplement, take 1 packet daily with food.</p>
                </div>
                <div class="tab-pane" id="warnings">
                  <p>Do not exceed recommended dose. Pregnant or nursing mothers, children under 18, and individuals with a known medical condition should consult a physician before using this or any dietary supplement.</p>
                </div>
              </div>

        </div>
    </div>

{% endblock %}