{% extends "vitashop/base.html" %}
{% load i18n %}
{% load currency %}
{% load url from future %}
{% block body %}

    <div class="row">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {% trans "Products" %} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            {% for prod in products %}
                <li><a href="{% url 'product_detail' prod.slug %}">{{ prod.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div id="curr-wrapper" class="btn-group pull-right">
            <form action="{% url 'currency' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="product_detail {{ product.slug }} ">
                <div class="float-left">
                    <label for="id_currency">{% trans "Currency" %}:</label>
                    <select id="id_currency" name="sel_currency" class="form-control" onchange="this.form.submit()">
                        {% for c in currency_set %}
                            {% if c == currency %}
                                <option value="{{ c }}" selected>{{ c }}</option>
                            {% else %}
                                <option value="{{ c }}">{{ c }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">

            <div class=" margin-20">
                <img src="/media/products/{{ product.image }}" class="img-responsive" alt="{{ product.name }}" />
            </div>

        </div>
        <div class="col-md-6 col-md-offset-1 col-sm-7 col-xs-12">
            <h2>{{ product.name }}</h2>
            <p>
                <span class="product-price-label">{% trans "Price" %}:</span>
                <span class="product-price">{% currency_tag product.unit_price currency %}</span>
            </p>
            <form method="post" action="{% url 'cart' %}">{% csrf_token %}
                <input type="hidden" name="add_item_id" value="{{product.pk}}">
                <input type="hidden" name="add_item_quantity" value="1">
                <input type="submit" class="btn btn-danger" value="{% trans "Add to Cart" %}" role="button">
            </form>
            <p>    </p>

            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#info" data-toggle="tab"><span class="hidden-phone">{% trans "Information" %}</span></a></li>
                <li class=""><a href="#facts" data-toggle="tab"><span class="hidden-phone">{% trans "Supplements" %}</span></a></li>
                <li class=""><a href="#use" data-toggle="tab"><span class="hidden-phone">{% trans "Usage" %}</span></a></li>
                <li class=""><a href="#warnings" data-toggle="tab">{% trans "Warnings" %}</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane pad5 active" id="info">

                    {% trans product.desc1|safe %}

                </div>
                <div class="tab-pane pad5" id="facts">

                    {% trans product.desc2|safe %}

                </div>

                <div class="tab-pane pad5" id="use">

                    {% trans product.desc3|safe %}

                </div>
                <div class="tab-pane pad5" id="warnings">

                    {% trans "This product is not intended to diagnose, treat, cure, or prevent any disease." %}

                </div>
              </div>

        </div>
    </div>

{% endblock %}