{% extends "vitashop/base.html" %}
{% load url from future %}
{% load widget_tweaks %}

{% block body %}
    <div class="row center-block">
        <div class="page-header">
          <h3 id="container">Your Profile</h3>
        </div>

        <div class="centerDiv">
            <div id="profile-panel" class="panel panel-primary col-md-6 col-md-offset-3">
              <div class="panel-heading">
                  <h5 class="panel-title">Your Profile</h5>
              </div>
              <div class="panel-body">

                  <form id="profile_form" class="form-horizontal" action="" method="post">
                        {% csrf_token %}
                      <div class="form-group">
                        <label for="first_name" class="col-sm-5 control-label">First Name</label>
                        <div class="col-sm-7">
                            {{ profile_form.first_name|add_class:"form-control"  }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="last_name" class="col-sm-5 control-label">Last Name</label>
                        <div class="col-sm-7">
                          {{ profile_form.last_name|add_class:"form-control" }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email" class="col-sm-5 control-label">Email</label>
                        <div class="col-sm-7">
                          <input type="text" id="email" class="form-control" value="{{ user.email }}" readonly />
                        </div>
                      </div>


                          <div class="form-group">
                            <label for="changepwd" class="col-sm-5 control-label">Password</label>
                            <div class="col-sm-7">
                                {% if use_password %}
                                    <a href="{% url "password_change" %}" id="changepwd">Change</a>
                                {% else %}
                                    <span>Password is not used.</span>
                                    <a href="{% url "password_set" %}" id="changepwd">Set</a>
                                {% endif %}
                            </div>
                          </div>


                      <div class="form-group">
                        <label for="newsletter" class="col-sm-5 control-label">Newsletter</label>
                          <div class="col-sm-7">
                              <input type="checkbox" name="newsletter" id="newsletter" class="checkbox" />
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="newsletter" class="col-sm-5 control-label"></label>
                        <div class="col-sm-7">
                          <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                  </form>

              </div>
            </div>
        </div>

        <div class="clearfix"></div>

        {% if orders %}
            <ul>
            {% for order in orders %}
                <li>
                  <a href="{{ order.get_absolute_url }}">{{ order }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

    </div>

{% endblock %}