{% extends "vitashop/base.html" %}
{% load url from future %}
{% load i18n %}
{% block body %}

    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h2 id="container">{% trans "Signed up successfully" %}</h2>
        </div>

        <div class="bs-component">
            <div class="centerDiv">
              <div class="jumbotron">
                <p>

                    {% trans "You have signed up successfully." %}<br/>
                    {% trans "An activation email was sent to address" %} <mark>{{ email }}</mark><br/>
                    {% trans "Please check your email and activate your account." %}

                </p>
                <p><a href="{% url 'login' %}" class="btn btn-success btn-lg">{% trans "Login" %}</a></p>
              </div>
            </div>
        </div>

      </div>
    </div>

{% endblock %}