{% extends "vitashop/base.html" %}
{% load url from future %}
{% load i18n %}
{% block body %}

    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 id="container">Informace pro členy provizního programu</h3>
        </div>

        <a name="top#"></a>
        <div class="col-md-8">
            <h4>K proviznímu programu má přístup každý zákazník.</h4>
            <p>Každý zákazník, po zakoupení prvního produktu získává nárok na výhody provizního programu.</p>
            <h4>Jak to funguje?</h4>
            <p>V rámci provizního programu má zákazník nárok na odměny a výhody spojené s prodejem produktů.<br>
                Jedná se zejména o:
                <ul>
                    <li>Vlastní slevový kód, opravňující ke 5% slevě ostatní</li>
                    <li>Odměna z prodeje od zákazníků, jež využijí Váš slevový kód</li>
                    <li>Odměna z prodeje od zákazníků, jež přijdou do eshopu přes Vaše stránky(odkazy)</li>
                    <li>Slevu na další nákupy</li>
                    <li>Možnost využít reklamní materiál</li>
                </ul>

            </p>

            <h4>Vlastní slevový kód</h4>
            <p>
                Vlastní slevový kód najdete na stránce profilu. Je to 5-ti místný kód, opravňující zákazníka k 5% slevě na celý nákup po odečtení poštovného.
            </p>

            <h4>Odměny provizního programu</h4>
            <p>
                Pokud zákazník využije při nákupu Váš slevový kód, vy získáte <span class="btc-price">odměnu 5%</span> z ceny objednávky po odečtení poštovného.<br><br>
                Pokud zákazník přijde do eshopu z Vašeho odkazu na eshop bez slevového kupónu a jedná se o nového zákazníka, vy získáte <span class="btc-price">odměnu 10%</span> z ceny objednávky po odečtení poštovného.
                Tento zákazník se připíše k Vašemu účtu a náleží Vám i odměna z jeho dalších nákupů - a to ve výši <span class="btc-price">5%</span> vždy z ceny objednávky po odečtení poštovného.
                Odměny za zákazníka Vám náleží bez časového omezení. Odměny vyplácíme vždy koncem roku. Odměna bude vyplacena pouze v případě, že se bude jednat o částku vyšší než 300Kč. V opačném případě bude převedena do dalšího roku.
            </p>

            <b>Stručně</b>
            <ul>
                <li>10% za prodej novému zákazníkovi</li>
                <li>5% za opakovaný prodej</li>
                <li>nárok na odměnu bez časového omezení</li>
                <li>výplaty na konci roku od 300Kč</li>
                <li>sleva na vlastní nákupy 5%</li>
            </ul>
            <p> </p>
            <h4>Příklad 1 - přes web</h4>
            <p>Zákazník při prohlížení internetu narazí na Vaše stránky s odkazem na tento eshop. Klikne na odkaz a nakoupí produkty v hodnotě 1000Kč.
                Náš systém automaticky propojí jeho účet s Vaším účtem. Pokud on nakoupí, Vám přijde upozornění emailem. Z ceny jím zakoupeného zboží se Vám naúčtuje odměna 10%.
                Zákazník nakoupil za 1000Kč. Vaše odměna je 100Kč. Pokud ten stejný zákazník provede další nákup, náleží Vám odměna 5% za opakovaný nákup, tj. 50Kč. Řekněme, že tento
                zákazník nakupuje pravidelně a během roku uskutečnil 6 nákupů, vždy v hodnotě 1000Kč. Pak výše Vaší odměny za tohoto jednoho zákazníka bude 1x100 + 5x50Kč = 350Kč.
            </p>

            <h4>Příklad 2 - přes slevový kód</h4>
            <p>Zákazník od Vás dostane slevový kód na 5% slevu, který použije při nákupu. Nakoupí produkty v hodnotě 1000Kč.
                Náš systém automaticky propojí jeho objednávku s Vaším účtem. Pokud on nakoupí, Vám přijde upozornění emailem. Z ceny jím zakoupeného zboží se Vám naúčtuje odměna 5%.
                Zákazník nakoupil za 1000Kč. Vaše odměna je 50Kč za tento prodej. Váš slevový kód umožňuje čerpat 5% slevu bez časového omezení. To znamená, že získáte 5% odměnu i za všechny budoucí objenávky od tohoto zákazníka.
            </p>

            <div class="clearfix"></div>

        </div>

        <div class="col-md-4">  </div>
        

        <div class="clearfix"></div>
        <br />
        <br />
      </div>
    </div>

{% endblock %}