{% extends "vitashop/base.html" %}
{% load url from future %}
{% load widget_tweaks %}
{% load i18n %}
{% block body %}

    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 id="container">{% trans "Contact us" %}</h3>
        </div>

        <a name="top#"></a>
        <div class="col-md-8">

                <form id="contact-data" class="form-horizontal" action="" method="POST">
                    {% csrf_token %}
                    <p>
                        <label for="id_name">{% trans "Name" %}:<span class="form-error-mark" title="Field is required.">*</span></label>
                        {{ form.name|add_class:"form-control" }}
                    </p>
                    <p>
                        <label for="id_email">{% trans "Email" %}:<span class="form-error-mark" title="Field is required.">*</span></label>
                        {{ form.email|add_class:"form-control" }}
                    </p>
                    <p>
                        <label for="id_subject">{% trans "Subject" %}:<span class="form-error-mark" title="Field is required.">*</span></label>
                        {{ form.subject|add_class:"form-control" }}
                    </p>
                    <p>
                        <label for="id_comment">{% trans "Message" %}:</label>
                        {{ form.comment|add_class:"form-control" }}
                    </p>
{#                    <p>#}
{#                        <label for="id_comment">Captcha:</label>#}
{#                        {{ form.captcha }}#}
{#                    </p>#}
                    <p>
                        <label for="submit">&nbsp;</label>
                        <input type="submit" value="{% trans "Send" %}" class="btn btn-primary btn-lg">
                    </p>
                </form>

        </div>

        <div class="col-md-4">  </div>
        

        <div class="clearfix"></div>
        <br />
        <br />
      </div>
    </div>

{% endblock %}