{% extends "vitashop/base.html" %}
{% load url from future %}
{% load i18n %}
{% block body %}

    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 id="container">FAQ</h3>
        </div>

        <a name="top#"></a>
        <div class="col-md-8">
            <h4>FAQ</h4>
            <p></p>
            <p>TODO</p>

            <div class="clearfix"></div>


        </div>

        <div class="col-md-4">  </div>
        
        <div class="centerDiv"></div>
        <div class="clearfix"></div>
        <br />
        <br />
      </div>
    </div>

{% endblock %}