{% extends "vitashop/base.html" %}
{% load url from future %}
{% block body %}

    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 id="container">FAQ</h3>
        </div>

        <a name="top#"></a>
        <div class="col-md-8">
            <h4>Vitamins</h4>
            <p>Vitamins are organic compounds which are needed in small quantities to sustain life. We get vitamins from food, because the human body either does not produce enough of them, or none at all.</p>
            <p>TODO</p>

            <div class="clearfix"></div>


        </div>

        <div class="col-md-4">  </div>
        

        <div class="clearfix"></div>
        <br />
        <br />
      </div>
    </div>

{% endblock %}