{% extends "vitashop/base.html" %}
{% load url from future %}
{% load i18n %}
{% block body %}

    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 id="container">{% trans "Information" %}</h3>
        </div>

        <a name="top#"></a>

        <div class="col-md-12">
            <ul>
                <li><a href="#products#">{% trans "Products" %}</a></li>
                <li><a href="#vitamins#">{% trans "Vitamins" %}</a></li>
                <li><a href="#minerals#">{% trans "Minerals" %}</a></li>
                <li><a href="#calmag#">{% trans "CalMag" %}</a></li>
                <li><a href="#shipping#">{% trans "Shipping and delivery" %}</a></li>
                <li><a href="#affiliate#">{% trans "Affiliate program" %}</a></li>
                <li><a href="{% url 'bitcoin' %}">{% trans "Bitcoins" %}</a></li>
            </ul>
        </div>

        <div class="col-md-8">
            <a name="products#"></a>
            <h4>{% trans "Products - origin and quality assurance" %}</h4>
            <p>
                {% blocktrans %}All products were made in the USA. Factory is based in Clearwater, state Florida.{% endblocktrans %}
            </p>

            <a name="vitamins#"></a>

            <h4>{% trans "Vitamins" %}</h4>
            <p>{% trans "Vitamins are organic substances..." %}</p>

            <div class="clearfix"></div>

            <a name="minerals#"></a>
            <h4>{% trans "Minerals" %}</h4>
            <p>{% trans "Minerals are..." %}</p>

            <div class="clearfix"></div>

            <a name="calmag#"></a>
            <h4>{% trans "CalMag" %}</h4>
            {% trans "What is CalMag?" %}<br>
            {% blocktrans %}Calmag is Calcium-magnesium mineral drink.{% endblocktrans %}
            <p>{% trans "Calcium and magnesium are essential..." %}</p>

            <div class="clearfix"></div>

            <a name="shipping#"></a>
            <h4>{% trans "Shipping and Delivery" %}</h4>
            <p>{% trans "Shipping and Delivery..." %}</p>

            <div class="clearfix"></div>

            <a name="affiliate#"></a>
            <h4>{% trans "Affiliate Program" %}</h4>
            <p>{% trans "Affiliate Program..." %}</p>

        </div>

        <div class="col-md-4">  </div>
        

        <div class="clearfix"></div>
<br /><br />
      </div>
    </div>

{% endblock %}