{% extends "vitashop/mails/mail_base.html" %}{% load i18n %}

{% block body %}

<b>{% trans "Email notification:" %}</b>
<p>
    <h3>{% trans "Signed up successfully" %}</h3><br/>
</p>
<p>
{% trans "Hello, " %} <br>
{% trans "you have successfully signed up. <br> Please click on activation link bellow to activate your account." %} <br>
<br>
</p>

<p>
<a href='{{ site }}/shop/activate/{{ activation_code }}?lang={{ lang }}'>{{ site }}/shop/activate/{{ activation_code }}?lang={{ lang }}</a>
</p>

Vitamineral team

{% endblock %}


